# Using Systemd

[Unit]
Description=php-fpm
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill phpfpm
ExecStartPre=-/usr/bin/docker rm phpfpm
ExecStartPre=-/usr/bin/docker pull koconder/wordpress-test-dockerimages
ExecStart=/usr/bin/docker run --name phpfpm -d -v /path/to/my/files:/var/www/html koconder/wordpress-test-dockerimages

[Install]
WantedBy=multi-user.target